<h1>Testing for Angular -  {{title}}</h1>
<router-outlet></router-outlet>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
    <input type="text" placeholder="Enter Name" name="user" formControlName="user" >
    <br>
    <span style="color: red;" *ngIf="user && user.invalid && user.touched " > Name can not be blank </span>
    <br>
    <input type="text" placeholder="Enter Password" name="password" formControlName="password" >
    <br>
    <span style="color: red;" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched" > minimum 5 character </span>
    <br>
    <button [disabled]="loginForm.invalid" >Login</button>

</form>






